/*css блока Комментарии*/
.image_logo_class {
    opacity: .3;
    transition: .3s ease;
}

.image_logo_class:hover {
    opacity: 1;
}

.social .social-list li {
    padding: 0;
}

.social .social-list li:before {
    display: none;
}

.share-box > a {
    color: #c8c8c8;
}

#neiros_likes, #neiros_dislikes {
    color: #c8c8c8 !important;
}

.s-review-meta a {
    font-size: 14px;
}

.s-review-meta .neiros_page_view_count {
    font-size: 14px;
}

.share-box .s-review-meta-btn.s-review-meta_like:hover {
    background: #ECF7EE;
    border-color: #ECF7EE;
    color: #3CA561;
}

.share-box .s-review-meta-btn.s-review-meta_like:hover #neiros_likes {
    color: #3CA561 !important;
}

.share-box .s-review-meta-btn.s-review-meta_like:hover .icon {
    color: #3CA561;
}

.share-box .s-review-meta-btn.s-review-meta_like:focus, .share-box .s-review-meta-btn.s-review-meta_like:active {
    background: #3CA561;
    border-color: #3CA561;
    color: #fff;
}

.share-box .s-review-meta-btn.s-review-meta_like:focus #neiros_likes, .share-box .s-review-meta-btn.s-review-meta_like:active #neiros_likes {
    color: #ffffff !important;
}

.share-box .s-review-meta-btn.s-review-meta_like:focus .icon, .share-box .s-review-meta-btn.s-review-meta_like:active .icon {
    color: #fff;
}

.share-box .s-review-meta-btn.s-review-meta_dislike:hover {
    background: #ffb0b085;
    border-color: #ffb0b085;
    color: #dd1d1d;
}

.share-box .s-review-meta-btn.s-review-meta_dislike:hover #neiros_dislikes {
    color: #dd1d1d !important;
}

.share-box .s-review-meta-btn.s-review-meta_dislike:hover .icon{
    color: #dd1d1d;
}


.share-box .s-review-meta-btn.s-review-meta_dislike:focus, .share-box .s-review-meta-btn.s-review-meta_dislike:active {
    background: #dd1d1d;
    border-color: #dd1d1d;
    color: #fff;
}

.share-box .s-review-meta-btn.s-review-meta_dislike:focus #neiros_dislikes, .share-box .s-review-meta-btn.s-review-meta_dislike:active #neiros_dislikes {
    color: #fff !important;
}

.share-box .s-review-meta-btn.s-review-meta_dislike:focus .icon, .share-box .s-review-meta-btn.s-review-meta_dislike:active .icon {
    color: #fff;
}
/*css блока Комментарии*/


/*rating star*/
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.rating-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.rating-wrapper__val {
    font-size: 14px;
    padding-left: 5px;
}

.rating-wrapper__val span {
    font-weight: bold;
    display: inline-block;
}

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 0 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
    margin: 0;
}


.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

